@{
    ViewData["Title"] = "Profile";
}

<div class=" row"> 
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2 "> @ViewData["Title"]</h1>
    </div>

</div>


 <div class="row mt-4">
    <div class="col-4">

        <div class="mb-4">
            <div asp-validation-summary="All" class="text-danger small"></div>
        </div>

        <form method="post" asp-action="ProfileChangeName">
            <div class="form-group">
                <label class="form-label small">Ad</label>
                    <div class="input-group">
                        <input name="adi" type="text" class="form-control" placeholder="" value="@ViewData["Adi"]" />
                        <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                    </div>         
            </div>
        </form>
   
        <form method="post" asp-action="ProfileChangeSurname">
            <div class="form-group">
                <label class="form-label small">Soyad</label>
                    <div class="input-group">
                        <input name="Soyadi" type="text" class="form-control" placeholder="" value="@ViewData["Soyadi"]" />
                        <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                    </div>           
            </div>

        </form>

        <form method="post" asp-action="ProfileChangeEposta">
            <div class="form-group">
                <label class="form-label small">Eposta</label>
                    <div class="input-group">
                        <input name="Epostasi" type="email" class="form-control" placeholder="aaaa@aa.com" value="@ViewData["Epostasi"]" />
                        <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                    </div>           
            </div>

        </form>

        <form method="post" asp-action="ProfileChangeAdres">
            <div class="form-group">
                <label class="form-label small">Adres</label>
                    <div class="input-group">
                        <input name="Adresi" type="text" class="form-control" placeholder="" value="@ViewData["Adresi"]" />
                        <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                    </div>           
            </div>

        </form>

        <form method="post" asp-action="ProfileChangePhone">
            <div class="form-group">
                <label class="form-label small">Telefon Numarası</label>
                    <div class="input-group">
                        <input name="TelNoSu" type="tel" class="form-control" placeholder="1111111111 Başına 0 koymadan 10 hane giriniz." value="@ViewData["TelNoSu"]" />
                        <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                    </div>           
            </div>

        </form>

        <form method="post" asp-action="ProfileChangePassword">
            <div class="form-group">
                <label class="form-label small">Yeni Parola</label>
                    <div class="input-group">
                        <input name="Parola" type="password" class="form-control" placeholder="" />
                        <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>                 
                    </div>   
                @if (ViewData["result"] != null && ViewData["result"] == "PasswordChanged")
                {
                       <span class="text-success small">Parolanız değiştirildi.</span>
                }
                
                                
          </div>

        </form>
     
    </div>
</div>

@section Scripts
{
    @if (ViewData["result"] != null && ViewData["result"] == "PasswordChanged" | ViewData["result"] == "NameChanged" || ViewData["result"] == "SurnameChanged" || ViewData["result"] == "EpostaChanged" || ViewData["result"] == "AdresChanged" || ViewData["result"] == "PhoneChanged")
   {
        if (ViewData["result"] == "PasswordChanged")
       {
          <script>
            toastr["success"]("Parolanız değiştirilmiştir.");
          </script>
       }
        
    
        if (ViewData["result"] == "NameChanged")
       {
          <script>
            toastr["success"]("İsminiz değiştirilmiştir.");
          </script>
       }
       
        if (ViewData["result"] == "SurnameChanged")
        {
          <script>
            toastr["success"]("Soyadınız değiştirilmiştir.");
          </script>
        }
        

        if (ViewData["result"] == "EpostaChanged")
        {
           <script>
              toastr["success"]("E-postanız değiştirilmiştir.");
           </script>
        }

        if (ViewData["result"] == "AdresChanged")
        {
             <script>
                toastr["success"]("Adresiniz değiştirilmiştir.");
             </script>
        }

        if (ViewData["result"] == "PhoneChanged")
        {
             <script>
                 toastr["success"]("Telefon numaranız değiştirilmiştir.");
             </script>
        }
        
    }
    else
    {
          <script>
                toastr["error"]("Girdiğiniz bilgiler kriterlere uymuyor. Kontrol edip tekrar giriniz.");
          </script>
    }
    
}
