@model CreatUrunModel
@{
    ViewData["Title"] = "Urun Oluştur";
}

<div class=" row"> 
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2 "> @ViewData["Title"]</h1>
    </div>

</div>


<div class=" row">
    <div class="col-4 offset-4">       
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>



            <div class="form-group mb-3">
                <label asp-for="Adi" class="form-label">Urun Adını Giriniz. </label>
                <input asp-for="Adi" class="form-control" placeholder="TarhanaÇorbası" />
                <span asp-validation-for="Adi" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="UrunFiyat" class="form-text">Urun Fiyatını Giriniz. </label>
                <input asp-for="UrunFiyat" class="form-control" placeholder="00.0 TL" />
                <span asp-validation-for="UrunFiyat" class="text-danger small"></span>
            </div>

         @*   <div class="form-group mb-3">
                <label asp-for="KategoriId" class="form-text">Kategori ID sini giriniz. </label>
                <input asp-for="KategoriId" class="form-control" placeholder="Ana Yemek" />
                <span asp-validation-for="KategoriId" class="text-danger small"></span>
            </div>*@

            @*<div class="form-group mb-3">
                <label asp-for="KategoriId" class="form-label">Kategori Seçiniz </label>              
                <select asp-for="KategoriId" class="form-select">
                    @foreach (var item in Model.)
                    {
                              <option value="@item.Id">@item.KategoriAdi</option>
                    } 


                </select>  

                 <span asp-validation-for="KategoriId" class="text-danger small"></span>
            </div>*@
             <div class="form-group mb-3">
                <label asp-for="@Model.KategoriId" class="form-label">Kategori Seçiniz </label>              
                <select asp-for="@Model.KategoriId" class="form-select" asp-items="@ViewBag.Categories">                  
                        <option value="0">Kategori Seç</option>
                </select>  

                 <span asp-validation-for="@Model.KategoriId" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="UrunAdet" class="form-text">Urun Adetini Giriniz</label>
                <input asp-for="UrunAdet" class="form-control" placeholder="0" />
                <span asp-validation-for="UrunAdet" class="text-danger small"></span>
            </div>


            <div class="form-group mb-3">
                <button type ="submit" class="btn btn-primary"><i class="fa-solid fa-save me-2"></i>Kaydet</button>
            </div>
        </form>

    </div>
</div>

